*{
    font-family: 'Lato', sans-serif;
}

@media(min-height: 900px) {
    #gridsContainer {
        margin: auto;
        width: 400px;
        height: 880px;
        background-color: dimgray;
        box-shadow: inset 0 0 1em #333;
        display: flex;
        flex-wrap: wrap;
    }
    .grid {
        border: 1px solid #333;
        width: 38px;
        height: 38px;
    }
}
@media(max-height: 900px) {
    #gridsContainer {
        margin: auto;
        width: 200px;
        height: 440px;
        background-color: dimgray;
        box-shadow: inset 0 0 1em #333;
        display: flex;
        flex-wrap: wrap;
    }
    .grid {
        border: 1px solid #333;
        width: 18px;
        height: 18px;
    }
}

.gridSpawn {
    background-color: #333333;
}

.colorZ, .next_Z div { background-color: rgb(212, 93, 85); }
.colorS, .next_S div { background-color: rgb(113, 212, 85); }
.colorL, .next_L div { background-color: rgb(212, 155, 85); }
.colorJ, .next_J div { background-color: rgb(85, 117, 212); }
.colorI, .next_I div { background-color: rgb(85, 212, 193); }
.colorT, .next_T div { background-color: rgb(178, 85, 212); }
.colorO, .next_O div { background-color: rgb(212, 206, 85); }
.shadow { background-color: rgb(80,80,80); }



#gameOverPopup {
    position: absolute;
    margin-top: -100px;
    top: 50%;
    left: 0;
    width: 100%;
    height: 200px;
    background-color: rgba(0,0,0, 0.5);
}

.ui_left {
    position: absolute;
    left: 0;
    top: 10%;
    height: 80%;
    padding-top: 32px;
    padding-right: 64px;

    color: white;
    font-size: 24px;
}


.ui_right {
    position: absolute;
    right: 0;
    top: 10%;
    height: 80%;
    padding-top: 32px;
    padding-right: 64px;
}



#nextPieces div, #holdPiece div {
    margin: 20px auto;
}
#nextPieces div div, #holdPiece div div {
    width: 38px;
    height: 38px;
    border: 1px solid #333;
    display: inline-block;
    position: relative;
}
/* Z */
.next_Z div:nth-child(1) { left: 20px; top:0; }
.next_Z div:nth-child(2) { left: 20px; top: 0; }
.next_Z div:nth-child(3) { left: -20px; top: 40px; }
.next_Z div:nth-child(4) { left: -20px; top: 40px; }
/* S */
.next_S div:nth-child(1) { left: 60px; top:0; }
.next_S div:nth-child(2) { left: 60px; top: 0; }
.next_S div:nth-child(3) { left: -60px; top: 40px; }
.next_S div:nth-child(4) { left: -60px; top: 40px; }
/* L */
.next_L div:nth-child(1) { left: 100px; top:0; }
.next_L div:nth-child(2) { left: -20px; top: 40px; }
.next_L div:nth-child(3) { left: -20px; top: 40px; }
.next_L div:nth-child(4) { left: -20px; top: 40px; }
/* J */
.next_J div:nth-child(1) { left: 20px; top:0; }
.next_J div:nth-child(2) { left: -20px; top: 40px; }
.next_J div:nth-child(3) { left: -20px; top: 40px; }
.next_J div:nth-child(4) { left: -20px; top: 40px; }
/* I */
.next_I div:nth-child(1) { left: 0; top:0; }
.next_I div:nth-child(2) { left: 0; top: 0; }
.next_I div:nth-child(3) { left: 0; top: 0; }
.next_I div:nth-child(4) { left: 0; top: 0; }
/* T */
.next_T div:nth-child(1) { left: 60px; top:0; }
.next_T div:nth-child(2) { left: -20px; top: 40px; }
.next_T div:nth-child(3) { left: -20px; top: 40px; }
.next_T div:nth-child(4) { left: -20px; top: 40px; }
/* O */
.next_O div:nth-child(1) { left: 40px; top:0; }
.next_O div:nth-child(2) { left: 40px; top: 0; }
.next_O div:nth-child(3) { left: -40px; top: 40px; }
.next_O div:nth-child(4) { left: -40px; top: 40px; }